* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body, #main {
    height: 100%;
    width: 100%;
}

#nav {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav-part-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.nav-part-1 h3, .nav-part-1 i {
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #000000;
    padding: 5px 10px;
    border-radius: 50px;
}

.nav-part-2 h1 {
    /* font-size: 17px; */
    font-weight: 500;
    text-transform: uppercase;
}

.nav-part-3 button {
    padding: 7px 12px;
    border-radius: 50px;
    border: 1px solid #000000;
    font-size: 15px;
}

#btn2 {
    background-color: coral;
    border-color: coral;
    color: white;
}

#main>h1 {
    font-size: 100px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

/* #img1 {
    transform: translate(-50%, -50%) rotate(-40deg);
} */

#img1 {
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2 {
    transform: translate(-50%, -50%) rotate(-20deg);
}

#img3 {
    transform: translate(-50%, -50%) rotate(-10deg);
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-part1 h4, #footer-p3-inner2 h5 {
    font-size: 12px;
    font-weight: 400;
}

.footer-part2 {
    width: 75px;
    height: 40px; /* as the half of the width */
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 1px solid #000000;
    border-bottom: 0;
}

.footer-part2 i {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

#footer-p3-inner1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

#footer-p3-inner1 i {
    border: 0.5px solid #000000;
    padding: 0 3px;
    border-radius: 3px;
}